<template name="postItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="col-md-4">
      <a href="{{pathFor 'postPage'}}">{{title}}</a>
      <br />
      <samp>
        {{content}}
      </samp>
      <p>{{fromNow createdAt}}</p>
      {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      <input type="hidden" value={{imagePath}} />

      {{> postImage}}
      <!--<p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>-->
    </div>
  </div>
</template>
